################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EindOpdrachtCsharp/bin/Debug
/EindOpdrachtCsharp/obj/Debug
/EindOpdrachtCsharp/.vs/EindOpdrachtCsharp/v14
/EindOpdrachtCsharp/Properties
